{% extends 'base.html.twig' %}

{% block title %}Availability index{% endblock %}

{% block body %}
    <h1>Availability index</h1>

    <a href="{{ path('availability_calenderOmmen') }}">show calender Ommen</a>
    <a href="{{ path('availability_calenderHardenberg') }}">show calender Hardenberg</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Branch</th>
                <th>WorkDate</th>
                <th>Hours</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for availability in availabilities %}
            <tr>
                <td>{{ availability.id }}</td>
                <td>{{ availability.branch }}</td>
                <td>{{ availability.workDate ? availability.workDate|date('Y-m-d') : '' }}</td>
                <td>{{ availability.hours }}</td>
                <td>
                    <a href="{{ path('availability_show', {'id': availability.id}) }}">show</a>
                    ->edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('availability_new') }}">Create new</a>
    <a href="{{ path('availability_batch') }}">Create batch</a>
{% endblock %}
