<form method="post" action="{{ path('customer_delete', {'id': customer.id}) }}" onsubmit="return confirm('Weet je zeker dat je dit item wilt verwijderen?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id) }}">
    <button class="btn">Verwijderen</button>
</form>
