{% extends 'base.html.twig' %}

{% block title %}Bewerk gebruiker{% endblock %}

{% block body %}
    <h1>Bewerk gebruiker</h1>

    {{ include('customer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('customer_index') }}">Terug naar lijst</a>

    {{ include('customer/_delete_form.html.twig') }}
{% endblock %}
