{% extends 'base.html.twig' %}

{% block title %}Customer index{% endblock %}

{% block body %}
    <h1>Customer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Voornaam</th>
                <th>Achternaam</th>
                <th>Tussen voegsel</th>
                <th>Straat</th>
                <th>Huisnummer</th>
                <th>Postcode</th>
                <th>Telefoon nummer</th>
                <th>Email</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.firstName }}</td>
                <td>{{ customer.lastName }}</td>
                <td>{{ customer.namePrefix }}</td>
                <td>{{ customer.street }}</td>
                <td>{{ customer.houseNumber }}</td>
                <td>{{ customer.postalCode }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.email }}</td>
                <td>
                    <a href="{{ path('customer_show', {'id': customer.id}) }}">Bekijken</a>
                    <a href="{{ path('customer_edit', {'id': customer.id}) }}">Bewerken</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Geen klanten gevonden</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('customer_new') }}">Nieuwe gebruiker aanmaken</a>
{% endblock %}
