{% extends 'base.html.twig' %}

{% block title %}Nieuwe klant aanmaken{% endblock %}

{% block body %}
    <h1>Nieuwe klant aanmaken</h1>

    {{ include('customer/_form.html.twig') }}

    <a href="{{ path('customer_index') }}">Terug naar lijst</a>
{% endblock %}
