{% extends 'base.html.twig' %}

{% block title %}Onderhoud index{% endblock %}

{% block body %}
    <h1>Onderhoud index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titel</th>
                <th>Beschrijving</th>
                <th>Tijdsduur</th>
                <th>Prijs</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
        {% for maintenance in maintenances %}
            <tr>
                <td>{{ maintenance.id }}</td>
                <td>{{ maintenance.title }}</td>
                <td>{{ maintenance.description }}</td>
                <td>{{ maintenance.duration }}</td>
                <td>{{ maintenance.price }}</td>
                <td>
                    <a href="{{ path('maintenance_show', {'id': maintenance.id}) }}">show</a>
                    <a href="{{ path('maintenance_edit', {'id': maintenance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Geen resultaten</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('maintenance_new') }}">Nieuw onderhoud maken</a>
{% endblock %}
